
   body{
        background-color:white;
        color:green;
      }

  #heading{
       margin-left: 50%;
      }
  #nav{
        height: 40px;
        background-color: red;
        border:5px solid green;
  }
.menu{
        margin: 0px 0px 0px 5px;
        padding:0px;
      }

      .menu li{
        list-style-type: none;
        float: left;
        margin-right: 15px;
        padding:12px;
        border-right-width: 2px;
        border-right-color:white;
        border-right-style: solid;
      }

       .menu li:last-child{
        border-right:none;


       }
.about{
		float: left;
		margin: 20px;
		font-family:    
	}

	.experience{
		float: left;
		margin: 20px;
	}

	.download{
		float: left;
		margin: 20px;
	}

	.portfolio{
		float: left;
		margin: 20px;
	}

	.contact{
		float: left;
		margin: 20px;
	}

	.table{
		float: left;
		margin: 20px;
	}

	#container{
		position: relative;
		width: 800px;
		padding-top: 60px;
		margin: auto;
	}

	.bg{
		background-image: url(../images/bg.jpg);
		background-repeat: no-repeat;
		width: 300px;
	}

	.profile{
		background-image: url(../images/profile.jpg);
		background-repeat: no-repeat;
		position: absolute;
		top: 280px;
		left:550px;
		width: 300px;
		height: 300px;
		display: inline-block;
		border-radius: 100%;
	}

	*{
		box-sizing: border-box;
	}
	#wrapper{
		display: flex;
		width: 800px;
		
	}

	.bg{
		background-image: url(../images/bg.jpg);
		background-repeat: no-repeat;
		width: 300px;
	}

	.profile{
		background-image: url(../images/profile.jpg);
		background-repeat: no-repeat;
		position: absolute;
		top: 280px;
		left:550px;
		width: 300px;
		height: 300px;
		display: inline-block;
		border-radius: 100%;
	}

	#flex-container{
	display: flex;
	height: 800px;
	background-color: brown;
	justify-content: flex-start; 
	}
.side1-flex{
	background-color:green; 
	width:300px;
	height:350px;
	margin:5px;
}
.side2-flex{
	background-color:white; 
	width:300px;
	height:350px;
	margin:5px;
}
.side3-flex{
	background-color:yellow; 
	width:300px;
	height:350px;
	margin:5px;
}
.side4-flex{
	background-color:orange; 
	width:300px;
	height:350px;
	margin:5px;
}

.container{
	background-image: url(../images/google.png);
	background-repeat: repeat-x;
	width: 600px;
	height: 800px;
	margin: auto;
	background-position: center;
	background-attachment: fixed;
	background-attachment: scroll;
	background-size: contain;
}

      .menu li a{
        color:white;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;

      }
 
      .menu li a:hover{
        background-color: green;
         display: block;
     
